@use 'sass:color';
@use '../abstracts/variables' as *;

// Typography
h2 {
  font-size: 1.5rem;
  margin-bottom: $spacing-md;
}

small {
  font-size: 0.875rem;
  color: color.adjust($color-sidebar-text, $alpha: -0.3);
}
